$small: 4px;
$medium: 8px;
$large: 12px;
$xl: 16px;

.ms{
    margin: $small;
}

.ml{
    margin: $large;
}

.mm{
    margin: $medium;
}

.ps{
    padding: $small;
}

.pm{
    padding: $medium;
}

.pl{
    padding: $large;
}
