
.body{
    background-color: white;
}

.d1{
   padding-top: 20px;
   margin-top: 10px;
}

.grid-item {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    text-align: center;
  }

  .grid-item1{
    text-align: center;
  }

button{
      background-color: #3f51b5;
      color: white;
      border: none;
      font-size: 0.875rem;
      border-radius: 4px;
      min-width: 64px;
  }

    .c1{
        display: flex;
        text-align: center;
        justify-content: center
        }

        .grid-container1{
          display: flex;
          flex-direction:  column;
          grid-template-columns: 400px 400px 400px ;
          justify-content: space-around;
          padding: 20px;
        }
    
.events-container {
  background-color: #faecdd;
  border: 1px solid grey;
  padding: 10px;
  margin: 40px;
  display: flex;
  flex-direction: column;
}


.cardContainer, .cardContainerError {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.0625);
  display: grid;
  padding: 10px;
}

.cardContainer {
  background-color: white;
  border: 2px;
  border-style: outset;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "cardtitle cardtitle cardtitle"
      "cardbody cardbody cardbody"
      "cardaction cardaction cardaction";
      flex-grow: 1;
}

.cardbody, .cardtitle {
  justify-self: center;
  align-items: center;
}
.cardtitle {
  grid-area: cardtitle;
  font-weight: bold;
}
.cardbody {
  grid-area: cardbody;

  font-size: 20px;
}
.cardbody, .cardtitle {
  justify-self: center;
  align-items: center;
}

.cardaction {
  grid-area: cardaction;
  justify-self: center;
  align-items: center;
}




.ask-bid-container{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.table-everything1{
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  display: block;
  margin: 30px;
  width: 40%;
}

.table-everything2{
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  display: block;
 margin: 30px;
width: 40%;
} 

table{
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-color: grey;
}

thead{
  display: table-header-group;
  vertical-align: middle;
}

tr{
  display: table-row;
  outline: 0;
  vertical-align: middle;
}

th{
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5rem;
  padding: 16px;
  font-size: 0.875rem;
  text-align: left;
  vertical-align: inherit;
}

caption{
  font-weight: bold;
}

tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr:nth-child(even){
  background-color: #f0e8df;
}

td{
  font-weight: 600;
  padding: 16px;
  font-size: 0.875rem;
  text-align: left;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  vertical-align: inherit;
}


@media screen and (min-width: 600px){
  .grid-container1{
      display: flex;
      justify-content: space-around;
    flex-direction: row;
  }

  .events-container {
    flex-direction: row;
}
.ask-bid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  
}






