#div1{
     /* width: 200px; */
    height: 60px;
    /* border: 1px solid white; */
    background-color: rgb(88, 171, 204);
    margin-bottom: 5px; 
    grid-area: header;
  }
  
  #div2{
    /* width: 200px; */
    height: 120px;
    /* border: 1px solid white;
    text-align: center; */
    background-color: red;
    margin-bottom: 5px; 
    grid-area: nav;
  }
  #div3{
      /* width: 200px; */
    height: 200px;
    /* border: 1px solid white;  */
    /* text-align: center; */
    background-color: darkgreen;
    margin-bottom: 5px; 
    grid-area: content;
  }
  
  #div4{
     /* width: 200px; */
    height: 200px;
    /* border: 1px solid white; */
    /* text-align: center; */
    background-color: rgb(121, 35, 155);
    margin-bottom: 5px; 
    grid-area: sidebar;
  } 

  #div5{
    /* width: 200px; */
    height: 60px;
    /* border: 1px solid white; */
    background-color: grey;
    margin-bottom: 5px;
    grid-area: footer;
  }

  .container1{
      text-align: center;
      color: white; 
      width: 400px; 
      padding: 10px;
      border: 5px solid black;
      display: grid;
      grid-template-areas:
        "header"
        "nav"
        "content"
        "sidebar"
        "ad"
        "footer";
   
  }

 

  @media (max-width: 640px){
    .container1{
    border: 5px solid black;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "content sidebar"
      "footer footer";
      }
    }